.dropdown-menu {
  position: absolute;
  width: 300px;
  height: 0;
  top: 100px;
  right: 2rem;
  display: none;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu .action-button {
  width: 80%;
  display: flex;
  justify-content: center;
}
