@media (max-width: 992px) {
  .navbar .links,
  .navbar .action-button {
    display: none;
  }

  .navbar .toggle-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: unset;
    left: 2rem;
  }
}
